<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">創建</h3>
            <form action="/visitsmedications" method="post">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-15" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Visit Id" name="visit_id" <% if (inputs.length > 0) { %>value="<%=inputs[0].visit_id%>"<% } %>required autofocus>
                        <label for="inputUsername">Visit Id</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Medication Id" name="medication_id" <% if (inputs.length > 0) { %>value="<%=inputs[0].medication_id%>"<% } %>>
                        <label for="inputUsername">Medication Id</label>
                    </div>



                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>