<% include ../partials/header %>

<div class="container ptb-125">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="login-heading mb-4 text-center">創建</h3>
            <form action="/procedures" method="post">
                <% if (errors.length > 0) { %>
                <% for(var i = 0; i < errors.length; i++) { %>
                <div class="alert alert-danger mb-15" role="alert">
                    <%= errors[i].msg %>
                </div>
                <% } %>
                <% } %>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Name" name="name" <% if (inputs.length > 0) { %>value="<%=inputs[0].name%>"<% } %>required autofocus>
                        <label for="inputUsername">Name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Description" name="description" <% if (inputs.length > 0) { %>value="<%=inputs[0].description%>"<% } %> required>
                        <label for="inputUsername">Description</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" class="form-control" placeholder="Cost" name="cost" <% if (inputs.length > 0) { %>value="<%=inputs[0].cost%>"<% } %> required>
                        <label for="inputUsername">Cost</label>
                    </div>


                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">提交</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>